<!DOCTYPE html>
<html>
<head>
<title>VegWay</title>
<link href="https://fonts.googleapis.com/scss?family=Aguafina+Script&display=swap" rel="app/stylesheets">

</head>

<body>

  <h1>VegWay </h1>
  <img width="540px" src ="/assets/matcha.JPG", alt="matcha" />
  <div class = "Login">
    <%= form_for @user do |f| %>
    <%= f.label "Log-in" %>
    <p><%= f.text_field "name" %></p>
    <%= f.label "Password" %>
    <p><%= f.text_field "password" %></p>
    <p><%= f.submit "Log-in" %>
    <% end %>
  <br>
  </div>

</body>

</html>





<!--  -->
